    * {
        box-sizing: border-box;
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #1F2937;
        line-height: 1.6;
    }

    h1 {
        font-size: 3em;
        color: white;
    }

    span {
        color: #10B981;
    }

    .header {

        margin-bottom: 1em;
    }


    p {
        font: 2em;
        color: #D5D4D8;
    }

    form {
        margin-top: 1em;
        margin-bottom: 2em;
    }

    .random-pass {
        text-align: center;
        border-radius: 6px;
        background-color: #273549;
        color: #55F991;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
    .copy-button {
        background-color: #10B981;
        border-radius: 6px;
        border-style: none;
        padding: 5px 50px;
        text-align: center;
    }
/* *************************** */
/* *****Phone Styles********** */
/* *************************** */
/* checking for screen of 350 px */
@media screen and (min-width: 350px) {

    p {
        font-size: 2rem;
    }
        #generate-password {
            background-color: #10B981;
            color: white;
            font-weight: bolder;
        }

    #passwords-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 1.5em;
    }
    .input {
        border-radius: 6px;
        border-style: none;
        padding: 9px 15px;
        margin-top: 1em;
    }
    .random-pass {
        font-size:  1.5rem;
        width: 250px;
    }

    /* use padding for buttons */
    .copy-button {
        padding: 5px 50px;
        text-align: center;

    }
    .password {
        width: 100%;
    }
    
}

/* *************************** */
/* *****Tablet Styles********** */
/* *************************** */
@media screen and (min-width: 700px) {}

/* *************************** */
/* ****Desktop Styles********** */
/* *************************** */
@media screen and (min-width: 1100px) {


    #generate-password {
        background-color: #10B981;
        color: white;
        font-weight: bolder;
    }

    #passwords-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: space-between;
        gap: 1.5em;
    }

    .random-pass {
        border-radius: 6px;
        background-color: #273549;
        color: #55F991;

        display: inline-block;
        padding: .5em ;
    }

    .container {
        max-width: 95%;
        margin: 0 auto;
    }

    .copy-button {
        text-align: center;
        background-color: #10B981;
        border-radius: 6px;
        border-style: none;
    }

    .input {
        border-radius: 6px;
        border-style: none;
        width: 250px;
    }


}


